@use 'sass:map';
@use 'sass:meta';
@use '../index' as mq;

@include mq.configure-globally(
  $media-expressions: map.merge(mq.$default-media-expressions, (foo: '(bar: baz)')),
);

@include mq.configure(
  $widths: (xs 544px sm 768px md 992px lg 1280px xl 1600px xxl),
  $name: 'default',
);
@include mq.configure(
  $widths: ('phone' 768px 'desktop'),
  $name: 'simple',
);
@include mq.configure(
  $widths: ('a' 20em 'b' 40em 'c'),
  $name: 'em',
);

$test-configs: (
  't-config-default-1': ('xs'),
  't-config-default-2': ('xs', 'default'),
  't-config-default-3': (('xs')),
  't-config-default-4': (('xs'), 'default'),
  't-config-default-5': (('md'), 'default'),
  't-config-default-6': (('<md'), 'default'),
  't-config-default-7': (('<=md'), 'default'),
  't-config-default-8': (('>md'), 'default'),
  't-config-default-9': (('>=md'), 'default'),
  't-config-simple-1': (('phone'), 'simple'),
  't-config-simple-2': (('>phone'), 'simple'),
  't-config-simple-3': (('>=desktop'), 'simple'),
  't-config-simple-4': (('<desktop'), 'simple'),
  't-combination-1': (('>sm' '<=md'), 'default'),
  't-combination-2': (('<sm', '>md'), 'default'),
  't-combination-3': (('sm', 'lg'), 'default'),
  't-combination-4': (('sm', '>xl'), 'default'),
  't-em-1': (('a'), 'em'),
  't-em-2': (('>a' '<=b'), 'em'),
  't-absolute-1': (('>666px'), 'default'),
  't-absolute-2': (('>=666px'), 'default'),
  't-absolute-3': (('>=1234px' '<=5678px'), 'default'),
  't-interval-1': (('>1px' '<100px'), 'default'),
  't-interval-2': (('>1em' '<100em'), 'default'),
  't-interval-3': (('>1rem' '<100rem'), 'default'),
  't-feature-1': ('screen'),
  't-feature-2': (('screen' 'landscape'), 'default'),
  't-feature-3': (('foo'), 'default'),
);

$test-fixtures: (
  't-config-default-1': '(max-width: 543px)',
  't-config-default-2': '(max-width: 543px)',
  't-config-default-3': '(max-width: 543px)',
  't-config-default-4': '(max-width: 543px)',
  't-config-default-5': '(min-width: 768px) and (max-width: 991px)',
  't-config-default-6': '(max-width: 767px)',
  't-config-default-7': '(max-width: 991px)',
  't-config-default-8': '(min-width: 992px)',
  't-config-default-9': '(min-width: 768px)',
  't-config-simple-1': '(max-width: 767px)',
  't-config-simple-2': '(min-width: 768px)',
  't-config-simple-3': '(min-width: 768px)',
  't-config-simple-4': '(max-width: 767px)',
  't-combination-1': '(min-width: 768px) and (max-width: 991px)',
  't-combination-2': '(max-width: 543px), (min-width: 992px)',
  't-combination-3': '(min-width: 544px) and (max-width: 767px), (min-width: 992px) and (max-width: 1279px)',
  't-combination-4': '(min-width: 544px) and (max-width: 767px), (min-width: 1600px)',
  't-em-1': '(max-width: 19.99em)',
  't-em-2': '(min-width: 20em) and (max-width: 39.99em)',
  't-absolute-1': '(min-width: 667px)',
  't-absolute-2': '(min-width: 666px)',
  't-absolute-3': '(min-width: 1234px) and (max-width: 5678px)',
  't-interval-1': '(min-width: 2px) and (max-width: 99px)',
  't-interval-2': '(min-width: 1.01em) and (max-width: 99.99em)',
  't-interval-3': '(min-width: 1.1rem) and (max-width: 99.9rem)',
  't-feature-1': 'screen',
  't-feature-2': 'screen and (orientation: landscape)',
  't-feature-3': '(bar: baz)',
);

@each $key in (map.keys($test-configs)) {
  $config: map.get($test-configs, $key);
  $fixture: map.get($test-fixtures, $key);

  /* #{meta.inspect($config)} */
  @include mq.media($config...) {
    // stylelint-disable-next-line comment-whitespace-inside
    /*#{$fixture}*/
  }
}
